.msg-list {
  padding: 10px 0px 40px 0px;
  list-style: none;
  overflow-y: scroll;
  scroll-behavior: smooth;
  flex-grow: 1;
}

.msg-list__msg {
  display: flex;
  margin: 6px 2px 0px 10px;
}

.msg-list__msg--thisMember {
  flex-direction: row-reverse;
}

.msg-list__member-data {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
}

.msg-list__member-data--thisMember {
  flex-direction: row-reverse;
}

.msg-list__avatar {
  width: 32px;
  flex-shrink: 0;
  margin-top: 20px;
}

.msg-list__username {
  display: block;
  color: rgb(241, 226, 7);
  font-size: 14px;
  padding-bottom: 4px;
}

.msg-list__text {
  padding: 4px;
  border-radius: 6px;
  background-color: rgb(6, 100, 129);
  color: rgb(236, 236, 236);
  display: inline-block;
  word-break: break-word;
  line-height: 20px;
  user-select: text;
  margin-right: 50px;
  margin-left: 0px;
}

.msg-list__text::selection {
  background-color: lightgray;
}

.msg-list__msg--thisMember .msg-list__text {
  background-color: rgb(221, 10, 133);
  margin-right: 0px;
  margin-left: 50px;
}
