.chat__header {
  background: rgb(23, 24, 43);
  background: linear-gradient(
    90deg,
    rgb(240, 46, 159) 0%,
    rgba(23, 24, 43, 1) 100%
  );
  width: 100%;
  text-align: center;
  color: rgb(250, 250, 0);
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.heading {
  font-size: 24px;
}
